@import url('https://fonts.cdnfonts.com/css/roboto-flex');

* {
    --rows-count: 3;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto Flex", sans-serif;
    font-variation-settings: "wght" 309, "wdth" 122, "XTRA" 520;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
    background-color: black;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

div.container {
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

div.row {
    flex-grow: 1;
    display: flex;
    gap: 10px;
}

div.card {
    background-color: rgb(255, 255, 255);
    padding: 37px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    border-radius: 430px;
    justify-content: space-between;
}

div.card.smol {
    flex-grow: 0;
}

h1 {
    margin: -200px 0px -200px 0px;
    font-size: calc(31.5vw / var(--rows-count));
    overflow-wrap: anywhere;
}

.card.risha {
    background: black;
            color: white;
            border: white 5px solid;
            
}

.card.risha:hover {
    background-color: white;
    color: black;
}

.card.logo {
    --logo-bg: #F06464;
    --logo-color: white;
    background-color: var(--logo-bg);
}

.card.tg, .card.twitch {
    cursor: pointer;
    color: white;
}

.card.tg {
    background-color: #27A7E7;
}

.card.twitch {
    background-color: #9146FF;
}

.card.logo:hover {
    --logo-bg: white;
    --logo-color: #F06464;
}

.card.tg:hover, .card.twitch:hover {
    background-color: white;
    color: black;
}

.card {
    user-select: none;
}

a.buttonlink {
    display: flex;
    flex-grow: 1;
    text-decoration: none;
}

a.buttonlink.wfl {
    flex-grow: 0;
}

.emae {
    background: #f06464!important;
    border-color: #f06464!important;;
}

.piska {
    font-size: 8vw!important;
}